<section id="section4" class="cd-section">
  <div class="wide-slide">
    <i class="twa twa-3x twa-speech-balloon"></i>
    <h1>Contact</h1>
    <%= mail_to 'elliot.dohm@shopify.com', class: 'button inverted arrow-animation arrow-right' do %>
      <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
    <% end %>

    <%= link_to 'https://shopify.slack.com/team/elliot', class: 'button inverted arrow-animation arrow-right', target: '_blank' do %>
      <span><i class="fa fa-lg fa-slack" aria-hidden="true"></i></span>
    <% end %>

    <%= link_to 'https://github.com/aud', class: 'button inverted arrow-animation arrow-right', target: '_blank' do %>
      <span><i class="fa fa-lg fa-github" aria-hidden="true"></i></span>
    <% end %>
  </div>
</section>
