<section id="section4" class="cd-section">
  <div class="wide-slide">
    <i class="twa twa-3x twa-speech-balloon"></i>
    <h1>In summary</h1>
    <p>
      I was hired at Shopify in the Guru position, and transitioned to the Tier 2 team shortly after. In May of this year, I joined Tier 3. The majority of development work I do is in support of improving services/internal. Primarily writing code in Ruby, as well as fixing admin facing bugs.
    </p>
    <p>
      Working in these three different roles at Shopify gives me the unique skill set to collaborate with both technical, and non technical people on a day-to-day basis. This gives me the perspective to see the kinds of toil and technical problems facing our support department, and the tooling we need to improve it. These experiences have allowed me to see how merchant's challenges can be translated into a development perspective. A big part of Shopify for me is positive merchant communication. The tools our support team uses are critical in this process.
    </p>
    <p>
      In summary, I'm confident that I can contribute at a high level to the Support Operations Developer position, and have the technical ability, along with the willingness to learn. The scaling of infrastructure and application design for the long-term is essential for building lasting tools. Thank you for your consideration to be a part of the Support Operations Team in building the future of Shopify.
    </p>
    <%= mail_to 'elliot.dohm@shopify.com', class: 'button inverted arrow-animation arrow-right' do %>
      <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
    <% end %>

    <%= link_to 'https://shopify.slack.com/team/elliot', class: 'button inverted arrow-animation arrow-right', target: '_blank' do %>
      <span><i class="fa fa-lg fa-slack" aria-hidden="true"></i></span>
    <% end %>

    <%= link_to 'https://github.com/aud', class: 'button inverted arrow-animation arrow-right', target: '_blank' do %>
      <span><i class="fa fa-lg fa-github" aria-hidden="true"></i></span>
    <% end %>
  </div>
</section>
