<section id="zendesk_section" class="cd-section">
  <div class="wide-slide">
	  <div class="pc-tab">
			<input checked="checked" id="tab3" type="radio" name="pct-2" />
			<input id="tab4" type="radio" name="pct-2" />
		  <nav>
		    <ul>
		      <li class="tab3">
		        <label for="tab3">Create ticket</label>
		      </li>
		      <li class="tab4">
		        <label for="tab4">Other thing</label>
		      </li>
		    </ul>
		  </nav>
		  <section id="clear-both">
		    <div class="tab3">
		      <h2>Create ticket</h2><br>
					<%= render 'tickets/new' %>
		    </div>
		    <div class="tab4">
		      <h2>Result</h2>
		      <p>test</p>
		    </div>
		  </section>
	  </div>

	  <div class="pc-tab">
			<input checked="checked" id="tab1" type="radio" name="pct" />
			<input id="tab2" type="radio" name="pct" />
		  <nav>
		    <ul>
		      <li class="tab1">
		        <label for="tab1">Result</label>
		      </li>
		      <li class="tab2">
		        <label for="tab2">Logging</label>
		      </li>
		    </ul>
		  </nav>
		  <section id="clear-both">
		    <div class="tab1">
		      <h2>Result</h2>
		      <span id="ticket-create"></span>
		    </div>
		    <div class="tab2">
		      <h2>development.log</h2><br>
					<pre><code id="logging"><%= logging %></code></pre>
		    </div>
		  </section>
	  </div>
	</div>
</section>

<%= javascript_tag do %>
  var event_source = new EventSource('/log_feed');
  event_source.addEventListener('message', function (event) {
    $("#logging").prepend(event.data + '\n');
  }, false);
<% end %>
