<!DOCTYPE html>
<html>
  <head>
    <title>Heroku Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<meta name="description" content="Elliot Dohm">
  	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
